<h1>Editing Item</h1>

<%= render 'form', item: @item %>

<%#= link_to 'Edit', edit_list_item_path([@list, @item]) %> |

<%= link_to 'Show', list_item_path([@list, @item]) %> |
<%= link_to 'Back', root_path %>
